[SddmGreeterTheme]
Name=FMA:B Locker
Author=Ali Heydari
Type=sddm-theme
Version=0.1
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=fmab.sddm
Theme-API=2.0
QtVersion=6
